.trending {
    margin-top: 2rem;
    height: auto;
    max-height: 37.313rem;
    display: grid;
    gap: 1.875rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    overflow-y: auto;
    /* disable scrollbar visual */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    padding-bottom: 2rem;
}

/* disable webkit scrollbar: */
.trending::-webkit-scrollbar {
    display: none;
}